.calendrier_journee {
  padding: 1rem 0;
  text-align: center;
}
.choix_journee {
  font-size: 1.2rem;
}
.detail_journee_cal {
  padding: 1.5rem;
}
.detail_journee_cal_match {
  padding: .2rem;
  line-height: 2rem;
  border-bottom: 1px solid;
}
.detail_journee_cal_col_g {
  width: 47%;
  padding: 0 0.5rem;
}
.detail_journee_cal_col_c {
  width: 6%;
  font-weight: bold;
}
.detail_journee_cal_col_d {
  width: 47%;
  padding: 0 0.5rem;
}
.detail_match_bandeau {
  height: 250px;
  padding: 1.5rem;
  background: url("../img/detail_match_entete.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}
.detail_match_bandeau_col_g {
    width: 35%;
}
.detail_match_bandeau_col_c {
    width: 30%;
    padding-top: 1.5rem;
}
.detail_match_bandeau_etat {
  font-size: .625rem;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_score {
  padding: .375rem .375rem;
  font-size: 1.875rem;
  color: white;
}
.detail_match_bandeau_score_tiret {
  padding: 0 .625rem;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_date {
  font-size: .6875rem;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_ville, .detail_match_bandeau_stade {
  padding: 0.5rem 0;
  font-size: .8rem;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_selectionneur {
  padding: 0.5rem 0;
}
.detail_match_bandeau_col_d {
    width: 35%;
}
.detail_match_bandeau_equipe {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}
.detail_match_bandeau_equipe_coach {
  margin-top: .4rem;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_equipe_logo {
  margin: auto;
  margin-top: 0.5rem;
}
.detail_match_bandeau_equipe_buteur {
  margin: auto;
  margin-top: 1rem;
  width: 50%;
  text-align: left;
  font-size: 0.8rem;
}
.buteur_virtuel {
  color: #00cdcd;
}
.but {
  margin-left: 5px;
}


.detail_match_terrain_bloc {
  width: 100%;
  padding: 1rem 0;
}
.detail_match_terrain_conteneur_img {
  max-width: 100%;
  height: 50%;
  margin: auto;
  background: url("../img/football_fied.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display : flex;
}
.detail_match_terrain_dom, .detail_match_terrain_ext {
  width: 50%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  display : flex;
}
.detail_match_terrain_ligne {
  width: 25%;
  font-size: .8rem;
  display : flex;
  flex-direction : column;
  justify-content : center;
}
.detail_match_terrain_position_centre {
  width:100%;
  margin: auto;
}
.detail_match_terrain_maillot {
  height: 85%;
  width: 60%;
}


.detail_match_equipe {
  text-align: left;
}
.detail_match_equipe_g {
  width: 50%;
  padding: .5rem;
}
.detail_match_equipe_d {
  width: 50%;
  padding: .5rem;
}
.detail_match_equipe_bonus_malus {
  font-size: 1rem;
  padding: .5rem;
}
.detail_match_equipe_bonus_malus_lib {
  font-size: .8rem;
  font-style: italic;
  color: #141b4D;
  line-height: 1rem;
}
.detail_match_equipe_bonus_malus_joueur {
  line-height: 1rem;
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  padding-left: .5rem;
}
.detail_match_equipe_bonus_malus_joueur_bloc {
  padding-top: 1rem;
}
.detail_match_equipe_bonus_malus_liste {
  line-height: 3.5rem;
}
.detail_match_equipe_titre {
  border-bottom: 2px solid #141b4D;
  font-style: italic;
  color: #4a61d4;
  margin-bottom: .5rem;
}
.image_brassard {
  padding : 0 .6rem;
}
.detail_match_equipe_titu {
  height: 320px;
}
.detail_match_equipe_rempl {
  height: 215px;
}
.detail_match_equipe_titu, .detail_match_equipe_rempl, .detail_match_equipe_moyenne {
  padding: .5rem;
}
.detail_match_equipe_joueur, .detail_match_equipe_moyenne_ligne {
  border-bottom: 1px dashed #141b4D;
  margin-top: .3rem;
  padding-bottom: .3rem;
  font-size: .8rem;
}
.detail_match_equipe_joueur_note_titre, .detail_match_equipe_moyenne_titre {
  margin: 0 .5rem;
  width: 20px;
  font-size: .7rem;
}
.detail_match_equipe_joueur_note_bonus_malus_titre, .detail_match_equipe_moyenne_malus_titre {
  margin: 0 .5rem;
  width: 30px;
  font-size: .7rem;
  font-style: italic;
}
.detail_match_equipe_moyenne_malus_titre {
  cursor: pointer;
}
.detail_match_equipe_joueur_note_bonus_malus, .detail_match_equipe_moyenne_malus {
  margin: 0 .5rem;
  width: 30px;
  font-size: .7rem;
}
.detail_match_equipe_joueur_note, .detail_match_equipe_moyenne_ligne_valeur  {
  margin: 0 .5rem;
  width: 20px;
}
.detail_match_equipe_joueur_tontonpat {
  margin: 0 .5rem;
  width: 65px;
}
.pas_joue {
  color: grey;
}
