h3
{
    color: #808080;
}

p.colonne a {
  text-decoration: none;
  color: black;
}

div.sousTitre {
  border-bottom:thick double #808080;
  margin-bottom: 5px;
}

input.marginBottom {
  margin-bottom: 10px;
}

div.avecBordure {
  border: solid black 1px;
}

div#bandeau_appli {
  text-align:center;
	height:50px;
  width:100%;
	background-color:pink;
}
div#bandeau_appli_col1 {
	float: left;
	width: 100px;
	margin-right: 10px;
}
div#bandeau_appli_centre {
  margin-left: 110px;
  height: inherit;
  vertical-align: middle;
}


div#bandeau_compte {
  display: inline-block;
	height:50px;
  width:100%;
	background-color:#C0C0C0;
}
div#bandeau_compte_col1 {
	float: left;
	width: 100px;
	margin-right: 10px;
}
div#bandeau_compte_centre {
  margin-left: 110px;
}


div#bandeau_ligue {
  display: inline-block;
	height:50px;
  width:100%;
	background-color:#C0C0C0;
}
div#bandeau_ligue_col1 {
	float: left;
	width: 100px;
	margin-right: 10px;
}
div#bandeau_ligue_centre {
  margin-left: 110px;
}

div#contenu {
  /*height:400px;*/
}

footer#pied_de_page {
	height:50px;
  width:100%;
	background-color:#C0C0C0;
  border: solid black 1px;
}

p.menuEnCours {
  background-color: beige;
}

div.colonnes {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate; /* Pour s'assurer que les cellules ne sont pas collées */
    border-spacing: 5px; /* 5 pixels d'écartement entre les colonnes */
    width: 100%;
}
p.colonne, p.contenu, div.colonne, div.contenu {
    display: table-cell;
    padding: 5px;
}
p.colonne {
    text-align: center; /* Centrage horizontal */
    vertical-align: middle; /* Centrage vertical */
    border: solid black 1px;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}
.italic {
  font-style: italic;
}
.cache {
  display: none;
}
.floatRight {
  float: right;
  background-color: white !important;
}

/* Tableaux */
.tableBase {
  border-collapse: collapse;
  width:100%;
}
.tableBase th {
  background-color: #808080;
}
.tableBase tr {
  border-bottom: 1px solid #808080;
}

.tableMercatoLigue {
  width: 100%;
}
.tableMercatoLigue tr td:first-child {
  width: 30%;
}
.tableMercatoLigue tr td:nth-child(2),
.tableMercatoLigue tr td:nth-child(3) {
  width: 15%;
}
.tableMercatoLigue tr td:nth-child(4),
.tableMercatoLigue tr td:nth-child(5) {
  width: 20%;
}

.categorie {
  border-radius:10px;
  background-color: #C0C0C0;
  width: 400px !important;
}

.libBudgetRestant {
  font-size: 1.5em;
  vertical-align:middle;
}
.budgetRestant {
  display: inline-block;
  height: 40px;
  width: 100px;
  font-size: 1.5em;
  border-radius:10px;
  background-color: #C0C0C0;
  vertical-align:middle;
}
.budgetRestant output {
  margin-left:35px;
  vertical-align:middle;
}

/* DataTable */
.filtreMercato {
  float: left;
  margin-left: 0.5em;
  padding: 1px;
}

.erreurPrix {
 border:1px solid red;
}

.joueurAchete {
  width: 400px !important;
  margin-right: 0px !important;
  background-color: #98FB98;
}
tr.joueurAchete {
  font-weight: bold;
}

.joueurEnCours {
  width: 400px !important;
  margin-right: 0px !important;
  background-color: #EEE8AA;
}

.inputPrix {
  width: 35px !important;
}
