.detail_action_actu {
  text-align: left;
  border-bottom: 1px dashed #141b4D;
  margin-top: .5rem;
  font-size: .8rem;
  padding-bottom: .5rem;
  line-height: 3.5rem;
}
.image_action_actu {
  padding-right: .5rem;
}
.score_direct:hover {
  cursor: pointer;
  color: #00cdcd;
}
.score_direct_victoire {
  color: green;
}
.score_direct_victoire:hover {
  cursor: pointer;
  color: #00cdcd;
}
.score_direct_defaite {
  color: red;
}
.score_direct_defaite:hover {
  cursor: pointer;
  color: #00cdcd;
}
