.detail_action_actu {
  text-align: left;
  border-bottom: 1px dashed #141b4D;
  margin-top: .5rem;
  font-size: .8rem;
  padding-bottom: .5rem;
  line-height: 3.5rem;
}
.image_action_actu {
  padding-right: .2rem;
}
