.detail_match_bandeau {
  height: 150px;
  margin-top: 1rem;
  padding: 1.5rem;
  background: url("../img/detail_match_entete.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}
.detail_match_bandeau_journee_prec, .detail_match_bandeau_journee_suiv {
  font-size: 3rem;
  padding: 2.5rem 0;
  color: white;
  width: 5%;
}
.detail_match_bandeau_journee_prec:hover, .detail_match_bandeau_journee_suiv:hover {
  cursor: pointer;
}
.detail_match_bandeau_col_g {
    width: 30%;
}
.detail_match_bandeau_col_c {
    width: 30%;
}
.detail_match_bandeau_journee {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.detail_match_bandeau_date {
  padding: .5rem 0;
  font-size: .8rem;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
}
.heureProchaineJournee {
  font-size: 1.5rem;
  font-weight: bold;
}
.detail_match_bandeau_ville, .detail_match_bandeau_stade {
  padding: .2rem 0;
  font-size: .8rem;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_col_d {
    width: 30%;
}
.detail_match_bandeau_equipe {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}
.detail_match_bandeau_equipe_coach {
  margin-top: .4rem;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.5);
}
.detail_match_bandeau_equipe_logo {
  margin: auto;
  margin-top: 0.5rem;
}
.detail_compo {
  margin: 1rem 0;
  border-bottom: 2px dashed #141b4D;
}
.detail_compo_titre {
  font-weight: bold;
  color: #4a61d4;
}
.detail_compo_bonus_malus_supp {
  cursor: pointer;
  margin-left: 1rem;
}
.detail_compo_bonus_malus_div {
  padding: 0;
  margin: .5rem 0;
}
.detail_compo_bonus_malus_row {
  margin-bottom: .5rem;
}
.detail_compo_bonus_malus_lib {
  font-size: .8rem;
  font-style: italic;
  color: #141b4D;
  line-height: 1rem;
}
.detail_compo_bonus_malus_bloc {
  padding: 0 .5rem;
  cursor: pointer;
}
.detail_compo_bonus_malus_bloc_select {
  background-color: #9fa9f1;
}
.detail_effectif {
  padding: .5rem 0 !important;
  text-align: left;
  margin: auto;
}
.detail_effectif_titre {
  border-bottom: 2px solid #141b4D;
  font-style: italic;
  color: #4a61d4;
  margin-bottom: .5rem;
}
.compo_equipe_col_droite {
  padding: 0 1rem;
}
.calendrier_reel_journee_bloc {
  background-color: #dcebf5;
}
.calendrier_reel_journee_titre {
  border-bottom: 2px solid #141b4D;
  font-style: italic;
  color: #4a61d4;
  margin-bottom: .5rem;
  text-align: center;
}
.detail_calendrier_reel_match {

}
.section_remplacement {
  padding: 1rem 0;
}

#messageErreurBonus {
  font-size: .8rem;
  font-weight: bold;
  padding: .5rem 0;
}
.spanChoixJoueur {
  width: 1.7rem;
  display: inline-block;
}
