.height_20px {
  height: 20px;
}
.height_30px {
  height: 30px;
}
.height_50px {
  height: 50px;
}
.height_400px {
  height: 400px;
}

.width_20px {
  width: 20px !important;
}
.width_25px {
  width: 25px !important;
}
.width_30px {
  width: 30px !important;
}
.width_50px {
  width: 50px !important;
}
.width_80px {
  width: 80px !important;
}
.width_100px {
  width: 100px !important;
}
.width_110px {
  width: 110px !important;
}
.width_200px {
  width: 200px !important;
}
.width_300px {
  width: 300px !important;
}

.width_6pc {
  width: 6% !important;
}
.width_25pc {
  width: 25% !important;
}
.width_47pc {
  width: 47% !important;
}
.width_49pc {
  width: 49% !important;
}
.width_50pc {
  width: 50% !important;
}
.width_90pc {
  width: 90% !important;
}
.width_100pc {
  width: 100% !important;
}

.font_size_17px {
  font-size: 17px;
}
.font_size_20px {
  font-size: 20px;
}
